@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth;}
.mt50 {@apply mt-[50px]}

:root {
  --BG: #fbfbfb;
  --BGwhite: #ffffff;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;;
}
/* ----------- NAVBAR -----------  ----------- NAVBAR -----------  ----------- NAVBAR -----------  ----------- NAVBAR ----------- */
nav { height: 70px;  width: 100%; display: flex;  align-items: center;  background-color: var(--BG); position: relative; }
.navOverLay { height: 70px; width: 100%; position: absolute; background-color: white; top: -80px; transition: all ease-in-out 0.3s; pointer-events: none;}
nav:hover .navOverLay {top: 0px; pointer-events: none;}

.navilnk { @apply hover:text-[#792c2c] transition1}
.pseudoBorder { @apply w-full absolute burgundy h-[2px] rounded-full pointer-events-none hidden group-hover:flex group-hover:pointer-events-auto transition1 }
.pseudoGlance { @apply w-[22px] absolute bottom-[-3px] left-0 group-hover:w-[3px] group-hover:left-[110%] h-[5px] pointer-events-none group-hover:opacity-100 transition2}
.pseudoGlanceBG {background-color: var(--BG); transition: all ease-in-out 0.3s;}
nav:hover .pseudoGlanceBG {background-color: var(--BGwhite); transition: all ease-in-out 0.3s;}

.pseudoGlanceMobileBG {background-color: var(--BG);}
nav:hover .pseudoGlanceMobileBG {background-color: var(--BG);}
/* ----------- NAVBAR -----------  ----------- NAVBAR -----------  ----------- NAVBAR -----------  ----------- NAVBAR ----------- */


.W_LIMIT { @apply max-w-[1450px] }
.mainPX { @apply px-[30px] max-sm:px-[15px]}
.transition1 { @apply transition-all ease-in-out duration-300 }
.transition2 { @apply transition-all ease-in-out duration-500 }

.BG {@apply bg-[#fbfbfb]}
.burgundy {@apply bg-[#6f2323]}
.headerSplit {@apply text-[35px] mx-auto mb-[50px] mt-[80px]}

.navLink { @apply text-[#ffffff] hover:text-[#F5E6A0] cursor-pointer hover:scale-[1.1] hover:translate-y-[-1px] transition1 } 